.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  background-image: url("../../img/hero-bg/hero-mob-bg.jpg"),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;

  @media screen and(min-width:$desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../img/hero-bg/hero-mob-bg-2x.jpg");
    }
  }

  @media screen and(min-width:481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img/hero-bg/hero-tab-bg.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../../img/hero-bg/hero-tab-bg-2x.jpg");
      }
    }
  }

  @media screen and(min-width:769px) {
    max-width: 1600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img/hero-bg/hero-desk-bg.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../../img/hero-bg/hero-desk-bg-2x.jpg");
      }
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  padding: 0 60px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: $secondary-white-color;

  @media screen and(min-width:$tablet) {
    padding: 0 204px;
  }

  @media screen and(min-width:$desktop) {
    padding: 0 237px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;

  padding: 10px 24px;

  @media screen and(min-width:$desktop) {
    padding: 10px 32px;
  }
}
