.work {
  padding-top: 0;
}

.work-title {
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__item {
  position: relative;

  width: calc((100% - 2 * 30px) / 3);
}

.work-list__title {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
