.hero {
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;

  @media screen and(min-width:$tablet) {
    max-width: 768px;
  }

  @media screen and(min-width:$desktop) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  padding: 0 60px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: $secondary-white-color;

  @media screen and(min-width:$tablet) {
    padding: 0 204px;
  }

  @media screen and(min-width:$desktop) {
    padding: 0 237px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  @extend %btn;

  padding: 10px 24px;
}
