$primary-text-color: #757575;
$logo-color: #2196f3;
$secondary-black-color: #212121;
$accent-color: #2196f3;
$title-color: #212121;
$secondary-white-color: #ffffff;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);