// Social

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__item {
  width: calc((100% - 3 * 10px) / 4);
}

.social-list__link {
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  @include centeredFlex();

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accent-color;
  }
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link {
  &--color {
    color: $secondary-white-color;
    background-color: #2f303a;
  }

  &--color:hover,
  &--color:focus {
    background-color: $accent-color;
  }
}
